
<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Add New Admin</div>
                    <div class='card-body'>
                        <div class="alert alert-danger" v-if="errors.length">
                            <b>Terdapat kesalahan dalam input data:</b>
                            <ul>
                                <li v-for="error in errors" :key="error">{{ error }}</li>
                            </ul>
                        </div>
 
                        <form @submit.prevent="createAdmin">
                            <div class='form-group'>
                                <label htmlFor='title'>Nama</label>
                                <input type="text" class="form-control" id="nama" v-model="admin.nama">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='content'>Username</label>
                                <input type="text" class="form-control" id="username" v-model="admin.username">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='content'>Password</label>
                                <input type="password" class="form-control" id="password" v-model="admin.password">
                            </div>
                            <div class='form-group'>
                                <router-link :to="{ name: 'admin_home' }" class="btn btn-secondary">Back</router-link>
                                &nbsp;
                                &nbsp;
                                <button class='btn btn-primary'>Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                admin:{},
                errors: [],
                nama: null,
                username: null,
                password: null,
            }
        },
        mounted(){
        if(localStorage.getItem('is_login') !== 'true'){
            this.$router.push({name: 'login'});
        }
    },
        methods: {
            doStuff: function() {
                //Show Loader
                this.loading = true;

                //Waste 5 seconds
                setTimeout(() => {
                this.loading = false;
                }, 5000)
            },
            createAdmin(e){
                 
                if (this.$data.admin.nama != null && this.$data.admin.username != null && this.$data.admin.password != null) {
                    this.$swal.fire({
                        title: 'Success',
                        text: "Admin created successfully",
                        icon: 'success',
                        timer: 1000
                    })
                    let uri = '/api/admin/store';
                    this.axios.post(uri, this.admin).then((response) => {
                        this.$router.push({name: 'admin_home'});
                    });
                    return true;
                }
 
                this.errors = [];
 
                if (!this.nama) {
                    this.errors.push('Nama wajib diisi !');
                }
                if (!this.username) {
                    this.errors.push('Username wajib diisi !');
                }
                if (!this.password) {
                    this.errors.push('Password wajib diisi !');
                }
 
                e.preventDefault();
            }
        }
    }
</script>