<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Detail Admin Info</div>
                    <div class='card-body'>
                        <div class='form-group'>
                            <label htmlFor='title'>Nama</label>
                            <input type="text" class="form-control" id="nama" v-model="admin.nama" disabled>
                        </div>
                        <div class='form-group'>
                            <label htmlFor='content'>Username</label>
                            <input type="text" class="form-control" id="username" v-model="admin.username" disabled>
                        </div>
                        <div class='form-group'>
                            <router-link :to="{ name: 'admin_home' }" class="btn btn-secondary">Back</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
        return {
            admin:{},
        }
    },
    created() {
        let uri = `/api/admin/show/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.admin = response.data;
        });
    },
    mounted(){
        if(localStorage.getItem('is_login') !== 'true'){
            this.$router.push({name: 'login'});
        }
    },
    method: {
 
    }
  }
</script>