<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-8'>
            <div class='card'>
                <div class='card-header'>Data Admin</div>
                <div class='card-body'>
                    <router-link :to="{ name: 'admin_create' }" class="btn btn-primary">Create new admin</router-link>
                    <br/>
                    <br/>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="50" class="text-center">No</th>
                                    <th>Nama</th>
                                    <th width="200" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(admin, index) in admins" :key="admin.id">
                                    <td width="50" class="text-center">{{ index + 1 }}</td>
                                    <td>{{ admin.nama }}</td>
                                    <td width="200" class="text-center">
                                        <div class="btn-group">
                                            <router-link :to="{name: 'admin_show', params: { id: admin.id }}" class="btn btn-primary">Detail</router-link>
                                            <router-link :to="{name: 'admin_edit', params: { id: admin.id }}" class="btn btn-success">Edit</router-link>
                                            <button class="btn btn-danger" @click = "deletePost(admin.id)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
</template>
 
<script>
  export default {
    data() {
        return {
          admins: []
        }
    },
    created() {
        let uri = 'api/admins';
        this.axios.get(uri).then(response => {
            this.admins = response.data;
        });
    },
    mounted(){
        if(localStorage.getItem('is_login') !== 'true'){
            this.$router.push({name: 'login'});
        }
    },
    methods: {
        deletePost(id)
        {
            this.$swal.fire({
                title: 'Apakah kamu yakin?',
                text: "Jika kamu hapus, maka data tidak akan kembali lagi.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Hapus Deh',
                cancelButtonText: 'Nggak Jadi'
                }).then((result) => {
                if (result.value) {
                    this.$swal.fire({
                        title: 'Success!',
                        text: 'admin deleted successfully',
                        icon: 'success',
                        timer: 1000
                    });
                    let uri = `api/admin/delete/${id}`;
                    this.axios.delete(uri).then(response => {
                        this.admins.splice(this.admins.indexOf(id), 1);
                    });
                    console.log("Deleted admin with id ..." +id);
                }
            })
        }
    },
    
  }
</script>