<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Edit admin</div>
                    <div class='card-body'>
                        <div class="alert alert-danger" v-if="errors.length">
                            <b>Terdapat kesalahan dalam input data:</b>
                            <ul>
                                <li v-for="error in errors" :key="error">{{ error }}</li>
                            </ul>
                        </div>
 
                        <form @submit.prevent="updateAdmin">
                            <div class='form-group'>
                                <label htmlFor='Nama'>Nama</label>
                                <input type="text" class="form-control" id="title" v-model="admin.nama">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='Username'>Username</label>
                                <input type="text" class="form-control" id="username" v-model="admin.username">
                            </div>
                            <div class='form-group'>
                                <router-link :to="{ name: 'admin_home' }" class="btn btn-secondary">Back</router-link>
                                  
                                  
                                <button class='btn btn-primary'>Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
        return {
            admin:{},
            errors: [],
            nama: null,
            username: null,
            password: null,
        }
    },
    mounted(){
        if(localStorage.getItem('is_login') !== 'true'){
            this.$router.push({name: 'login'});
        }
    },
    created() {
        let uri = `/api/admin/edit/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.admin = response.data;
        });
    },
    methods: {
        updateAdmin(e){
             
            if (this.$data.admin.nama != null && this.$data.admin.username != null) {
                 
                this.$swal.fire({
                    title: 'Success',
                    text: "admin Updated successfully",
                    icon: 'success',
                    timer: 1000
                });
                let uri = `/api/admin/update/${this.$route.params.id}`;
                this.axios.put(uri, this.admin).then((response) => {
                    this.$router.push({name: 'admin_home'});
                });
                return true;
            }
 
 
            this.errors = [];
 
            if (!this.nama) {
                this.errors.push('Nama wajib diisi !');
            }
            if (!this.username) {
                this.errors.push('Username wajib diisi !');
            }
 
            e.preventDefault();
        }
    }
  }
</script>