
<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Add New Designer</div>
                    <div class='card-body'>
                        <div class="alert alert-danger" v-if="errors.length">
                            <b>Terdapat kesalahan dalam input data:</b>
                            <ul>
                                <li v-for="error in errors" :key="error">{{ error }}</li>
                            </ul>
                        </div>
 
                        <form @submit.prevent="createDesigner">
                            <div class='form-group'>
                                <label htmlFor='title'>Nama</label>
                                <input type="text" class="form-control" id="nama" v-model="designer.nama">
                            </div>
                            <div class='form-group'>
                                <router-link :to="{ name: 'designer_home' }" class="btn btn-secondary">Back</router-link>
                                &nbsp;
                                &nbsp;
                                <button class='btn btn-primary'>Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                designer:{},
                errors: [],
                nama: null,
                username: null,
                password: null,
            }
        },
        mounted(){
        if(localStorage.getItem('is_login') !== 'true'){
            this.$router.push({name: 'login'});
        }
    },
        methods: {
            doStuff: function() {
                //Show Loader
                this.loading = true;

                //Waste 5 seconds
                setTimeout(() => {
                this.loading = false;
                }, 5000)
            },
            createDesigner(e){
                 
                if (this.$data.designer.nama != null) {
                    this.$swal.fire({
                        title: 'Success',
                        text: "Designer created successfully",
                        icon: 'success',
                        timer: 1000
                    })
                    let uri = '/api/designer/store';
                    this.axios.post(uri, this.designer).then((response) => {
                        this.$router.push({name: 'designer_home'});
                    });
                    return true;
                }
 
                this.errors = [];
 
                if (!this.nama) {
                    this.errors.push('Nama wajib diisi !');
                }
 
                e.preventDefault();
            }
        }
    }
</script>