<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Foto Designer <b>{{this.nama_designer}}</b></div>

                    <div class='card-body'>
                        <div class="row">
                          <div class="col-md-12" v-if="image">
                              <img :src="image" class="img-responsive" height="70" width="90">
                           </div>
                          <div class="col-md-12">
                              <input type="file" v-on:change="onImageChange" class="form-control">
                          </div>
                          <br><br>
                          <div class="col-md-12">
                              <router-link :to="{ name: 'designer_home' }" class="btn btn-secondary">Back</router-link>
                             <button class="btn btn-success" @click="uploadImage">Upload Image</button>
                          </div>
                       </div>
                       <div class="row">
                            <div class="table-responsive" style="margin-top:25px;">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="50" class="text-center">No</th>
                                            <th>Foto</th>
                                            <th width="300" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(designer, index) in designersFoto" :key="designer.id">
                                            <td width="50" class="text-center">{{ index + 1 }}</td>
                                            <td><img :src="'/images/'+designer.image" class="img-responsive" height="70" width="90"></td>
                                            <td width="200" class="text-center">
                                                <div class="btn-group">
                                                    <button class="btn btn-danger" @click = "deletePost(designer.id_foto)">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                       </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                image: '',
                nama_designer:'',
                designersFoto: []
            }
        },
        created() {
            let uri = '/api/designer-foto/'+this.$route.params.id;
            this.axios.get(uri).then(response => {
                
                
                this.designersFoto = response.data;
            });

            this.axios.get('/api/get-designer-name/'+this.$route.params.id).then(response => {
                this.nama_designer = response.data.data;
            });
        },
        mounted(){
            if(localStorage.getItem('is_login') !== 'true'){
                this.$router.push({name: 'login'});
            }
        },
        methods: {
            refreshDataFoto(){
                let uri = '/api/designer-foto/'+this.$route.params.id;
                this.axios.get(uri).then(response => {
                    this.designersFoto = response.data;
                });
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            uploadImage(){
                axios.post('/api/upload',{image: this.image, id_designer:this.$route.params.id}).then(response => {
                    if (response.data.success) {
                        this.$swal.fire({
                            title: 'Success',
                            text: "Add Foto Designer successfully",
                            icon: 'success',
                            timer: 1000
                        });
                        this.refreshDataFoto()                     
                   }
                });
            },
            deletePost(id)
            {
                this.$swal.fire({
                    title: 'Apakah kamu yakin?',
                    text: "Jika kamu hapus, maka data tidak akan kembali lagi.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Hapus Deh',
                    cancelButtonText: 'Nggak Jadi'
                    }).then((result) => {
                    if (result.value) {
                        this.$swal.fire({
                            title: 'Success!',
                            text: 'Foto deleted successfully',
                            icon: 'success',
                            timer: 1000
                        });
                        let uri = `/api/designerfoto/delete/${id}`;
                        this.axios.delete(uri).then(response => {
                            this.designersFoto.splice(this.designersFoto.indexOf(id), 1);
                        });
                        console.log("Deleted designer with id ..." +id);
                    }
                })
            }
        }
  }
</script>