<template>
  <div>
      <b>Batas Pendaftaran</b>
      {{displayDays}} Days
      {{displayHours}} Hours
      {{displayMinutes}} Minutes 
      {{displaySeconds}} Seconds <br><br>
  </div>
</template>

<script>
export default {
    props:['year','month','date','hour','minute','second','millisecond'],
        data: () =>({            
            displayDays:0,
            displayHours:0,
            displayMinutes:0,
            displaySeconds:0,            
        }), 
        computed:{
            _seconds:()=>1000,
            _minutes(){
                return this._seconds * 60;
            },
            _hours(){
                return this._minutes * 60;
            },
            _days(){
                return this._hours * 24;
            },
            end(){
                return new Date(
                    this.year,
                    this.month,
                    this.date,
                    this.hour,
                    this.minute,
                    this.second,
                    this.millisecond,
                )
            }
        },
        mounted(){
            this.showRemaining()
        },
        methods:{
            formatNum: num => (num < 10 ? '0' + num : num),
            showRemaining(){
                
                const timer = setInterval(() =>{
                    const now = new Date();
                    // const end = new Date(2021, 10, 15, 10, 10, 10, 10 );
                    const distance = this.end.getTime() - now.getTime();

                    if(distance < 0) {
                        clearInterval(timer);
                        return;
                    }

                    const days = Math.floor(distance / this._days);
                    const hours = Math.floor((distance % this._days) / this._hours);
                    const minutes = Math.floor((distance % this._hours) / this._minutes);
                    const seconds = Math.floor((distance % this._minutes) / this._seconds);

                    this.displayMinutes = this.formatNum(minutes);
                    this.displaySeconds = this.formatNum(seconds);
                    this.displayHours = this.formatNum(hours);
                    this.displayDays = this.formatNum(days) - 31;

                    // this.displayMinutes = 4;
                    // this.displaySeconds = 3;
                    // this.displayHours = 2;
                    // this.displayDays = 1;
                    
                },1000);
            }
        }
}
</script>

<style>

</style>