<template>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
      HUNTBAZAAR
    </div>
    <strong>
      Copyright &copy; 2021
      <a href="">Muhammad Khoirul Bakhtiar</a>.
    </strong> All rights reserved.
   </footer>
</template>