
<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Login Form</div>
                    <div class='card-body'>
                        <div class="alert alert-danger" v-if="errors.length">
                            <b>Login Gagal:</b>
                            <ul>
                                <li v-for="error in errors" :key="error">{{ error }}</li>
                            </ul>
                        </div>
 
                        <form @submit.prevent="createLogin">
                            <div class='form-group'>
                                <label htmlFor='content'>Username</label>
                                <input type="text" class="form-control" id="username" v-model="admin.username">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='content'>Password</label>
                                <input type="password" class="form-control" id="password" v-model="admin.password">
                            </div>
                            <div class='form-group'>
                                <button class='btn btn-danger' :disabled="isLogging" :loading="isLogging">{{isLogging ? 'Loging...' : 'Login'}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                admin:{},
                errors: [],
                username: null,
                password: null,
                isLogging:false,
            }
        },
        mounted(){
            console.log(localStorage.getItem('is_login'))
            if(localStorage.getItem('is_login') === 'true'){
                this.$router.push({name: 'admin_home'});
            }
        },
        methods: {
            async createLogin(e){
                 this.isLogging = true
                if (this.$data.admin.username != null && this.$data.admin.password != null) {
                    
                    let uri = '/api/admin/login';
                    
                    this.axios.post(uri, this.admin).then((response) => {
                        console.log("response : "+response);
                        if(response.status === 200){
                            localStorage.setItem("is_login", true);
                            // this.$router.push({name: 'admin_home'});
                            window.location.href = "/";
                            // this.$router.push({ name: 'admin_home', query: { redirect: '/path' } });
                        }else{
                            if(response.status === 401){
                                this.$swal.fire({
                                    title: 'Warning',
                                    text: "Login failed",
                                    icon: 'warning',
                                    timer: 1000
                                })
                            }
                        }
                        
                    });
                    this.isLogging = false
                    return true;
                }
 
                this.errors = [];

                if (!this.username) {
                    this.errors.push('Username wajib diisi !');
                }
                if (!this.password) {
                    this.errors.push('Password wajib diisi !');
                }
 
                e.preventDefault();
            }
        }
    }
</script>