<template>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="#" class="brand-link">
            <img
             src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png"
              alt="Logo" class="brand-image elevation-3"
              style="opacity: .8"
              >
            <span class="brand-text font-weight-light">HUNTBAZAAR</span>
        </a>
        <div class="sidebar">
            <nav class="mt-2">
                <ul
                  class="nav nav-pills nav-sidebar flex-column"
                  data-widget="treeview" role="menu"
                  data-accordion="false"
                  >
                    <li class="nav-item">
                        <router-link :to="{ name: 'admin_home' }" class="nav-link"><i class="nav-icon fas fa-home"></i>Admin</router-link>
                        <router-link :to="{ name: 'users_home' }" class="nav-link"><i class="nav-icon fas fa-home"></i>User Undangan</router-link>
                        <router-link :to="{ name: 'designer_home' }" class="nav-link"><i class="nav-icon fas fa-home"></i>List Designer</router-link>
                        
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</template>