
<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Selamat Datang di Event HUNTBAZAAR</div>
                    <div class='card-body'>
                        <div class='form-group'>
                            <label htmlFor='title'>Kode Registrasi</label>
                            <h1>{{kode}}</h1>
                        </div>
                        <div class='form-group'>
                            <label htmlFor='title'>Email</label>
                            <h5>{{email}}</h5>
                        </div>
                        <div class='form-group'>
                            <label htmlFor='title'>Nama</label>
                            <h5>{{nama}}</h5>
                        </div>
                        <div class='form-group'>
                            <label htmlFor='title'>Designer Favorit</label>
                            <table>
                                <tbody>
                                    <tr v-for="(designers, i) in designer" :key="designers.id">
                                        <td width="50" class="text-center">{{ i + 1 }}</td>
                                        <td>
                                            
                                            {{designers.nama}}
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            // ${this.$route.params.id}
            return {
                users:{},
                email:null,
                nama:null,
                kode:null,
                designer:{}
                
            }
        },
        created() {
            localStorage.removeItem('is_login');
             let path = this.$route.path
            let getLast = path.split('/')
            let ml = atob(getLast[4])
            this.email = ml

            let uri = '/api/getml/'+ml;
            this.axios.get(uri).then(response => {
                
                this.axios.get('/api/getRegistrasi/'+response.data.data.id).then(response => {
                    this.kode = response.data.data.kode_reg
                    this.nama = response.data.data.nama
                    //getDesigner
                    let uriDX = '/api/get-designers/'+response.data.data.id_user;
                    this.axios.get(uriDX).then(response => {
                        this.designer = response.data.data
                    });
                })
            });
            
        },
        mounted(){
            
        },
        methods: {
        }
    }
</script>