
<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <Counter
                    :year="2021"
                    :month="10"
                    :date="14"
                    :hour="23"
                    :minute="59"
                    :second="59"
                    :millisecond="59"
                 />
                <div class='card'>
                    
                    <div class='card-header'>Daftar Event HUNTBAZAAR</div>
                    <div class='card-body'>
                        <div class="alert alert-danger" v-if="errors.length">
                            <b>Terdapat kesalahan dalam input data:</b>
                            <ul>
                                <li v-for="error in errors" :key="error">{{ error }}</li>
                            </ul>
                        </div>
                        
                        <form @submit.prevent="createUsers">
                            <div class='form-group'>
                                <label htmlFor='title'>Email</label>
                                <input type="email" class="form-control" disabled id="email" v-model="users.email">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='title'>Nama Lengkap</label>
                                <input type="text" class="form-control" id="nama" v-model="users.nama">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='title'>Tgl Lahir</label>
                                <input type="date" class="form-control" id="tgl_lahir" v-model="users.tgl_lahir">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='title'>Jenis Kelamin (L/P)</label>
                                <input type="text" class="form-control" id="jk" v-model="users.jk">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='title'>Designer Favorit</label>
                                <table>
                                    <tbody>
                                        <tr v-for="(designers, i) in designer" :key="designers.id">
                                            <td width="50" class="text-center">{{ i + 1 }}</td>
                                            <td>
                                                <label :for="designers.id">
                                                <input type="checkbox" :id="designers.id" :value="designers.id" v-model="checkedNames">
                                                {{designers.designer}}</label>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                                

                            </div>
                            <div class='form-group'>
                                <button class='btn btn-primary'>Daftar Sekarang</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    
import Counter from '../Counter.vue';
    export default {
        components:{
            Counter
        },
        data(){
            // ${this.$route.params.id}
            return {
                users:{},
                designer:{},
                errors: [],
                email: null,
                nama: null,
                enc: null,
                tgl_lahir: null,
                jk: null,
                checkedNames: []
            }
        },
        created() {
            localStorage.removeItem('is_login');
            let path = this.$route.path
            let getLast = path.split('/')
            let ml = atob(getLast[4])
            this.email = ml
            this.enc = getLast[4]

            //cekRegistrasi
            let uriC = '/api/cekregistrasi/'+ml;
            this.axios.get(uriC).then(response => {
                if(response.data.data === 1){
                    this.$router.push({name: 'event_home'});
                }
            });

            let uri = '/api/getml/'+ml;
            this.axios.get(uri).then(response => {
                
                this.users = response.data.data;
            });

            //getDesigner
            let uriD = '/api/event-designers';
            this.axios.get(uriD).then(response => {
                this.designer = response.data.data
            });

        },
        mounted(){
            
        },
        methods: {
            createUsers(e){
                 console.log(this.checkedNames)
                if (this.$data.users.nama != null && this.$data.users.email != null && this.$data.users.tgl_lahir != null && this.$data.users.jk != null) {
                    
                    let uri = '/api/event/daftar';
                    this.axios.post(uri, this.users).then((response) => {
                       
                    });
                    let uriF = '/api/event/setdesignerfav';
                    this.axios.post(uriF, {  
                    email: this.email,  
                    c: this.checkedNames  
                    }).then((response) => {
                         this.$swal.fire({
                            title: 'Success',
                            text: "Users created successfully",
                            icon: 'success',
                            timer: 1000
                        })
                        this.$router.push({path: '/user/event/home/'+this.enc});
                    });
                    return true;
                }
 
                this.errors = [];
 
                if (!this.email) {
                    this.errors.push('Email wajib diisi !');
                }
                if (!this.nama) {
                    this.errors.push('Nama wajib diisi !');
                }
                if (!this.tgl_lahir) {
                    this.errors.push('Tgl Lahir wajib diisi !');
                }
                if (!this.jk) {
                    this.errors.push('Jenis Kelamin wajib diisi !');
                }
 
                e.preventDefault();
            }
        }
    }
</script>