<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>Data User Undangan</div>
                <div class='card-body'>
                    <router-link :to="{ name: 'users_create' }" class="btn btn-primary">Create new</router-link>
                    <br/>
                    <br/>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="50" class="text-center">No</th>
                                    <th>Email</th>
                                    <th>Nama</th>
                                    <th width="200" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(users, index) in userss" :key="users.id">
                                    <td width="50" class="text-center">{{ index + 1 }}</td>
                                    <td>{{ users.email }}</td>
                                    <td>{{ users.nama }}</td>
                                    <td width="400" class="text-center">
                                        <div class="btn-group">
                                            <router-link :to="{name: 'users_show', params: { id: users.id }}" class="btn btn-primary">Detail</router-link>
                                            <router-link :to="{name: 'users_edit', params: { id: users.id }}" class="btn btn-success">Edit</router-link>
                                            
                                            <button class="btn btn-warning" @click = "sendLink(users.id)">{{txtButton}}</button>
                                            <button class="btn btn-danger" @click = "deletePost(users.id)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
</template>
 
<script>
  export default {
    data() {
        return {
          userss: [],
          txtButton:'Send Link'
        }
    },
    created() {
        let uri = 'api/userss';
        this.axios.get(uri).then(response => {
            this.userss = response.data;
        });
    },
    mounted(){
        if(localStorage.getItem('is_login') !== 'true'){
            this.$router.push({name: 'login'});
        }
    },
    methods: {
        deletePost(id)
        {
            this.$swal.fire({
                title: 'Apakah kamu yakin?',
                text: "Jika kamu hapus, maka data tidak akan kembali lagi.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Hapus Deh',
                cancelButtonText: 'Nggak Jadi'
                }).then((result) => {
                if (result.value) {
                    this.$swal.fire({
                        title: 'Success!',
                        text: 'users deleted successfully',
                        icon: 'success',
                        timer: 1000
                    });
                    let uri = `api/users/delete/${id}`;
                    this.axios.delete(uri).then(response => {
                        this.userss.splice(this.userss.indexOf(id), 1);
                    });
                    console.log("Deleted users with id ..." +id);
                }
            })
        },
        sendLink(id){
            this.txtButton = 'Sending Link...'
            let uri = `api/users/send-link/${id}`;
            this.axios.get(uri).then(response => {
                if(response.status === 200){
                    this.$swal.fire({
                        title: 'Success!',
                        text: 'Send Link to Email Successfully',
                        icon: 'success',
                        timer: 1000
                    });
                    this.txtButton = 'Send Link'
                }
            });
        }
    },
    
  }
</script>