
<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Add New Users Undangan</div>
                    <div class='card-body'>
                        <div class="alert alert-danger" v-if="errors.length">
                            <b>Terdapat kesalahan dalam input data:</b>
                            <ul>
                                <li v-for="error in errors" :key="error">{{ error }}</li>
                            </ul>
                        </div>
 
                        <form @submit.prevent="createUsers">
                            <div class='form-group'>
                                <label htmlFor='title'>Email</label>
                                <input type="email" class="form-control" id="email" v-model="users.email">
                            </div>
                            <div class='form-group'>
                                <router-link :to="{ name: 'users_home' }" class="btn btn-secondary">Back</router-link>
                                &nbsp;
                                &nbsp;
                                <button class='btn btn-primary'>Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                users:{},
                errors: [],
                email: null,
            }
        },
        mounted(){
        if(localStorage.getItem('is_login') !== 'true'){
            this.$router.push({name: 'login'});
        }
    },
        methods: {
            doStuff: function() {
                //Show Loader
                this.loading = true;

                //Waste 5 seconds
                setTimeout(() => {
                this.loading = false;
                }, 5000)
            },
            createUsers(e){
                 
                if (this.$data.users.email != null) {
                    
                    let uri = '/api/users/store';
                    this.axios.post(uri, this.users).then((response) => {
                        this.$swal.fire({
                            title: 'Success',
                            text: "Users created successfully",
                            icon: 'success',
                            timer: 1000
                        })
                        this.$router.push({name: 'users_home'});
                    });
                    return true;
                }
 
                this.errors = [];
 
                if (!this.email) {
                    this.errors.push('Email wajib diisi !');
                }
 
                e.preventDefault();
            }
        }
    }
</script>