<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Detail User Undangan Info</div>
                    <div class='card-body'>
                        <div class='form-group'>
                            <label htmlFor='title'>Nama</label>
                            <input type="text" class="form-control" id="nama" v-model="users.nama" disabled>
                        </div>
                        <div class='form-group'>
                            <label htmlFor='content'>Email</label>
                            <input type="email" class="form-control" id="email" v-model="users.email" disabled>
                        </div>
                        <div class='form-group'>
                            <label htmlFor='content'>Tanggal Lahir</label>
                            <input type="text" class="form-control" id="tgl_lahir" v-model="users.tgl_lahir" disabled>
                        </div>
                        <div class='form-group'>
                            <label htmlFor='content'>Jenis Kelamin</label>
                            <input type="text" class="form-control" id="jk" v-model="users.jk" disabled>
                        </div>
                        <div class='form-group'>
                            <label htmlFor='content'>Link</label><br>
                            <a :href="users.link">  {{users.link}}</a>
                        </div>
                        <div class='form-group'>
                            <router-link :to="{ name: 'users_home' }" class="btn btn-secondary">Back</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
        return {
            users:{},
        }
    },
    created() {
        let uri = `/api/users/show/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.users = response.data;
        });
    },
    mounted(){
        if(localStorage.getItem('is_login') !== 'true'){
            this.$router.push({name: 'login'});
        }
    },
    method: {
 
    }
  }
</script>