<template>
  <div class="wrapper">
    <div v-if="isLoggedIn">
        <Navbar />
        <Sidebar />
    </div>
    <div v-if="!isLoggedIn">
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="#" class="brand-link">
            <img
             src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png"
              alt="Logo" class="brand-image elevation-3"
              style="opacity: .8"
              >
            <span class="brand-text font-weight-light">HUNTBAZAAR</span>
        </a>
      </aside>
    </div>
    <div class="content-wrapper">
      <router-view></router-view>
    </div>
    <Footer />
  </div>
</template>

<script>
    import Navbar from '../components/Navbar'
    import Footer from '../components/Footer'
    import Sidebar from '../components/Sidebar'

    export default {
        components: { Navbar, Footer, Sidebar },
        mounted() {
            window.$('body').Layout();
            window.$('[data-widget="pushmenu"]').PushMenu();
            window.$('[data-widget="control-sidebar"]').ControlSidebar();
            window.$('ul[data-widget="treeview"]').Treeview('init');
            window.$('.dropdown').Dropdown();
            window.$('ul[data-widget="treeview"]').overlayScrollbars();
        },
        data(){
            return {
                isLoggedIn : localStorage.getItem('is_login')
            }
        }
    }
</script>